@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: #03040D; /* Dark background for the entire page */
    color: #fff; /* Ensuring the text color is readable on the dark background */
    font-family: 'Outfit', sans-serif; /* Apply the Outfit font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#topLeftImage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 10px 0;
    width: 12%; /* Adjust this percentage to suit your design needs */
    height: auto; /* Maintain aspect ratio */
}


.chat-container {
    position: absolute; /* Absolute positioning to place it specifically */
    top: 50%; /* Start at the middle vertically */
    right: 0; /* Align to the right edge */
    transform: translateY(-50%); /* Shift upwards by half its height to truly center it vertically */
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 85vw;
    max-width: 1200px; /* Optional: limit the width to ensure it doesn't get too wide on larger screens */
    background-color: #282828; /* Background color for the chat container */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.message {
    display: flex;  
    flex-wrap: wrap;  
    align-items: center;  
    justify-content: flex-start; 
    padding: 5px;
}

.link-button {
    padding: 5px 10px;
    background-color: #0266ff;
    font-family: 'Outfit', sans-serif; /* Apply the Outfit font */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    color: white;
}

.chat-form {
    display: flex;
    margin-top: 10px;
}

.chat-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Rounded corners for the input field */
    background-color: #282828;
    color: white;
    font-family: 'Outfit', sans-serif; /* Apply the Outfit font */

}

.chat-form button {
    width: 40px;  /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-color: #0266ff;
    color: white;
    border: none;
    border-radius: 50%; /* Keeps the button circular */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Removes padding to fit SVG properly */
}

.chat-form button svg {
    width: 70%; /* Adjust the SVG size as needed */
    height: 70%; /* Adjust the SVG size as needed */
    fill: white; /* Change the color of SVG */
}

.chat-form button:hover {
    transform: translateY(-2px); /* Slight lift effect */
    background-color: #2575fc; /* Lighter blue for hover effect */
}

.message {
    margin: 5px;
    padding: 10px;
    color: white;
}

.user {
    align-self: flex-end;
    background-color: #282828;
    color: white;
}

.bot {
    align-self: flex-start;
    background-color: #282828;
}
